html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: animation 2s ease alternate infinite;
    background: linear-gradient(-40deg, #722F37, #ff6961);
    background-size: 300%;
}

@keyframes animation {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 100% 50%;
    }
}

.japa {
    border-bottom: solid 5px white;
    padding: 150px;
    font-size: 32px;
}

.segunda {
    height: 350px;
    margin-left: 400px;
}


.japa {
    border-bottom: solid 5px white;
    padding: 150px;
    font-size: 32px
}

.segunda {
    place-items: center;
    height: 350px;
    margin-left: 400px;
}